* {
    padding: 0px;
    margin: 0px;
}

nav {
    padding: 10px;
    background-color: #000000cc;
    backdrop-filter: blur(20px);
}

nav a {
    padding: 5px;
    margin-right: 3%;
    background-color: #858383cc;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

.chatgrid {
    display: flex;
    flex-direction: row;
    background-color: blue;
}

.chatgrid div {
    margin: 10px;
    padding: 10px;
}