* {
    padding: 0px;
    margin: 0px;
}

nav {
    padding: 10px;
    background-color: #000000cc;
    backdrop-filter: blur(20px);
}

nav a {
    padding: 5px;
    margin-right: 3%;
    background-color: #858383cc;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

.chatgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: blue;
    padding-top: 30px;
    gap: 15px;
    row-gap: 25px;
}

.chatgrid div {
    background-color: antiquewhite;
    border-radius: 10px;
    width: 90%;
    height: 300px;
    margin: auto;
    padding: 10px;
}